<div class="top-bar">
  <div class="marquee">
    <div class="marquee__content">
      <p class="marquee__text">
        {% for i in (1..20) %}
          {{ data['top-bar'].settings.marquee_text }}
          <svg
            class="marquee__separator"
            viewBox="-50 -50 100 100"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M 0,-40 C 12,-12 12,-12 40,0 C 12,12 12,12 0,40 C -12,12 -12,12 -40,0 C -12,-12 -12,-12 0,-40 Z"/>
          </svg>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
