/** Colors **/
$color-black: #1c1c1c;
$color-purple: #742bf8;
$color-white: #eaeaea;
$color-light-purple: #a086eb;

/** Fonts **/
$font-family-base: 'Anton', sans-serif;
$font-size-base: 1rem;
$font-size-large: 1.5rem;
$font-size-small: 0.875rem;
$font-size-xsmall: 0.75rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/** Spacing **/
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

/** Border Radius **/
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
