@import './variables';
@import './reset';
@import './mixins';
@import './sections/header.scss';
@import './snippets/top-bar.scss';

/* === Global Styles === */

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-white;
  background-color: $color-black;
  line-height: 1.5;
}

button, a {
  cursor: pointer;
}

/* === Global Classes === */

/* Layout Block */
.layout {
  &__section {
    width: 100%;
    height: 100vh;

    @include respond-to(md){
      height: 100dvh;
    }
  }

  &__grid {
    @include grid-layout(12, 17);

    @include respond-to(md){
      @include grid-layout(12, 34);
    }
  }
}

/* Typography Modifiers */
.text {
  &--center { text-align: center; }
  &--right { text-align: right; }
  &--left { text-align: left; }
}

/* Flex Utilities */
.flex {
  @include flex(); // default: row, flex-start, stretch

  &--center {
    @include flex(row, center, center);
  }

  &--row {
    @include flex(row);
  }

  &--column {
    @include flex(column);
  }
}


/* Spacing Utilities */
.spacing {
  &--mt-md { margin-top: $spacing-md; }
  &--mb-md { margin-bottom: $spacing-md; }
  &--pt-md { padding-top: $spacing-md; }
  &--pb-md { padding-bottom: $spacing-md; }
}
