/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/index.scss ***!
  \****************************************************************************************************************/
/** Colors **/
/** Fonts **/
/** Spacing **/
/** Border Radius **/
/* === Reset CSS === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/** Mixins **/
/** Flexbox Utilities **/
/* Buttons */
/*media queries*/
/*animations*/
.header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem 1.5rem;
  font-family: sans-serif;
  color: white;
}
.header .header__nav .header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}
.header .header__nav .header__logo img {
  width: 1.5rem;
  height: auto;
  object-fit: contain;
}
.header .header__nav .header__logo .divider {
  color: #8e8e8e;
  margin: 0 0.25rem;
}
.header .header__nav .header__logo .store {
  font-weight: 900;
  color: white;
}
.header .header__nav .header__coins {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  padding: 0.35rem 0.75rem;
  border-radius: 5rem;
  border: 1.5px solid #a086eb;
}
.header .header__nav .header__coins span {
  font-size: 0.875rem;
  color: white;
  white-space: nowrap;
}
.header .header__nav .header__coins .crypto-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: transform 0.2s ease;
}
.header .header__nav .header__coins .crypto-icon:hover {
  transform: scale(1.1);
}
.header .header__nav .header__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header .header__nav .header__actions a {
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease;
}
.header .header__nav .header__actions a:hover {
  color: #a086eb;
}
.header .header__nav .header__cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #742bf8;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  fill: #eaeaea;
}
.header .header__nav .header__cart:hover img {
  transform: scale(1.1);
}

.bg-nav {
  background: rgba(28, 28, 28, 0.2);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}

.top-bar {
  background-color: #742bf8;
  overflow: hidden;
  height: 2rem;
  display: flex;
  align-items: center;
}
.top-bar .marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.top-bar .marquee__content {
  display: inline-block;
  animation: top-bar-marquee 30s linear infinite;
}
@keyframes top-bar-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.top-bar .marquee__text {
  display: inline-block;
  color: #eaeaea;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}
.top-bar .marquee__separator {
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
  fill: #a086eb;
  width: 1.2rem;
  height: auto;
}

/* === Global Styles === */
body {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  color: #eaeaea;
  background-color: #1c1c1c;
  line-height: 1.5;
}

button, a {
  cursor: pointer;
}

/* === Global Classes === */
/* Layout Block */
.layout__section {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 992px) {
  .layout__section {
    height: 100dvh;
  }
}
.layout__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(17, 1fr);
}
@media screen and (max-width: 992px) {
  .layout__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(34, 1fr);
  }
}

/* Typography Modifiers */
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--left {
  text-align: left;
}

/* Flex Utilities */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.flex--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex--row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

/* Spacing Utilities */
.spacing--mt-md {
  margin-top: 1rem;
}
.spacing--mb-md {
  margin-bottom: 1rem;
}
.spacing--pt-md {
  padding-top: 1rem;
}
.spacing--pb-md {
  padding-bottom: 1rem;
}
