<section class="featured-products">
  <div class="featured-products__container">
    <div class="featured-products__list" data-responsive>
      {% for product in products %}
        <div
          class="featured-products__item{% if forloop.index > 4 %} featured-products__item--hidden{% endif %}"
          data-index="{{ forloop.index }}"
        >
          {% render 'product-card', product: product, data: settings %}
        </div>
      {% endfor %}
    </div>

    <button class="featured-products__button">VIEW ALL</button>
  </div>
</section>
