<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" href="assets\shuffle_logo.png" type="image/x-icon">
  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  {% include 'header.liquid' %}
  <main>
    {% include 'hero.liquid' %}
    {% include 'featured-products.liquid' %}
  </main>
  {% include 'footer.liquid' %}
  <script src="/main.js"></script>
</body>
</html>